html {
  box-sizing: border-box;
  background-color: #fff;
  font-family: Karma, serif;
  line-height: 1.5;
  text-align: center;
}

main {
  padding: .25em 1rem;
}

body {
  margin: 0;
  padding: 0;
}

ol {
  display: grid;
  padding: 0;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

img {
  max-width: 15em;
  margin: auto;
}

h2 {
  font-family: Oswald, sans-serif;
  color: #6f00e7;
  font-size: 2rem;
  align-items: flex-end;
  text-align: center;
  margin: 0;
  padding-top: 1.5rem;
}

p {
  font-size: 1.4rem;
  color: #000;
  font-family: Karma, serif;
  font-weight: normal;
  margin: 0;
  padding-bottom: 1.25rem;
}

ol > li {
  padding: 0 1rem;
  padding-left: 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 3px solid #987ffa;
  border-radius: 6px;
  padding-top: .5rem;
}

ul > li {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

ul {
  display: flex;
  width: 100%;
  padding-left: 0;
}

ul a {
  display: flex;
  justify-content: start;
  align-items: center;
}

.cart {
  background-color: #6f00e7;
  border-radius: 3em;
  margin: 1rem;
  padding: .5em 1.5rem .7em;
  float: right;
  margin-right: auto;
}

.cart span {
  color: #fff;
  text-decoration: none;
  font-family: Oswald, sans-serif;
}

.image {
  width: 250px;
  align-self: center;
  padding: 1rem 0;
}

.favourite {
  border: none;
  justify-content: flex-end;
  margin: 0 .7rem;
  float: right;
}

.share {
  border: none;
  justify-content: flex-end;
  margin: 0 .7rem;
  float: right;
}
